@import "tailwindcss";

@theme {
  --color-primary: #2bee79;
  --color-background-light: #f6f8f7;
  --color-background-dark: #102217;
  --color-surface-dark: #1c2720;
  --color-surface-light: #ffffff;
  --color-font-white: #ffffff;
  --color-font-primary: #2bee79;
  --color-background-header: #111814;
  --color-border: #28392f;
}

/* Global Theme Variables */
:root {
  /* 🎨 Colors */

  /* 🔤 Font */
  --font-display: "Spline Sans", sans-serif;

  /* ⭕ Border Radius */
  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

/* Apply Global Styles */
body {
  font-family: var(--font-display);
  background-color: var(--color-background-dark);
  margin: 0;
  padding: 0;
}
